@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
.seeAll {
  margin: 0;
  line-height: normal;
}
.seeAll {
  /* fonts */
  --body-b2: Montserrat;

  /* font sizes */
  --body-b2-size: 16px;
  --body-b3-size: 14px;
  --title-s2-size: 20px;
  --body-b1-size: 18px;
  --font-size-3xl: 22px;
  --title-h3-size: 32px;
  --title-h2-size: 42px;

  /* Colors */
  --grayscale-888: #888;
  --bg-1a: #1a1a1a;
  --color-gray-100: rgba(255, 255, 255, 0.34);
  --grayscale-fff: #fff;
  --grayscale-ccc: #ccc;
  --grayscale-aaa: #aaa;
  --grayscale-000: #000;

  /* Gaps */
  --gap-13xl: 32px;
  --gap-5xs: 8px;
  --gap-5xl: 24px;
  --gap-9xl: 28px;
  --gap-xs: 12px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-base: 16px;
  --padding-47xl: 66px;
  --padding-4xl: 23px;
  --padding-9xs: 4px;
  --padding-lg: 18px;

  /* border radiuses */
  --br-xl: 20px;
  --br-39xl: 58px;

  /* Effects */
  --effect: blur(30px);
}

/* .seeAll {
  width: 1440px;
  height: 100%;
} */

.seeAllFeatures {
  position: relative;
  background-color: var(--bg-1a);
  /* width: 1440px; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-b1-size);
  color: var(--grayscale-fff);
  font-family: var(--body-b2);
  transition: max-height 0.3s ease-out;
}
.seeAllFeaturesInner {
  /* width: 1440px; */
  width: 100%;
  height: 100%;
  /* height: 2906px; */
}

.allFeatures,
.groupParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-13xl);
}
.allFeatures {
  border-radius: var(--br-xl);
  background-color: rgba(255, 255, 255, 0.01);
  overflow: hidden;
  justify-content: center;
  font-size: var(--body-b2-size);
}

.allFeatures1 {
  border-radius: var(--br-xl);
  background-color: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;

  justify-content: center;
  font-size: var(--body-b2-size);
}

.hideParent {
  display: flex;
  align-items: center;
  align-self: stretch;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  font-size: var(--body-b2-size);
  z-index: 0;
}

.frameWrapper5 {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

.frameWrapper5 {
  /* position: absolute; */
  align-self: stretch;
  /* backdrop-filter: var(--effect); */
  /* height: 72px; */
  width: 100%;
  height: 100%;
  /* padding: var(--padding-xl) 635px; */
  box-sizing: border-box;
  justify-content: center;
  font-size: var(--body-b2-size);
  z-index: 0;
}

.frameWrapper5::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1px;
  border-radius: 20px;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.pricing {
  position: relative;
  line-height: 32px;
  font-weight: 500;
  font-size: 0.729167vw;
  padding: 20px 0;
}

.pricingSee {
  line-height: 32px;
  font-weight: 500;
  font-size: 16px;
}

.iconNavArrowDown {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 20px 8px;
}

.frameParent6 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: var(--body-b3-size);
}

.rectangleContainer {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-5xl);
  font-size: var(--title-s2-size);
}

.rectangleDiv {
  position: relative;
  width: 17.96875vw;
  height: 70px;
}

.freeWrapper {
  width: 10.15625vw;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-4xl) var(--padding-47xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}

.free1 {
  position: relative;
  font-weight: 600;
}

.frameParent7 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-5xl);
  text-align: center;
}

.vcpuWrapper,
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vcpuWrapper {
  align-self: stretch;
  width: 17.96875vw;
  justify-content: center;
  text-align: left;
}
.wrapper {
  width: 10.15625vw;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-base) var(--padding-47xl);
  box-sizing: border-box;
  justify-content: flex-start;
}

.unlimited {
  position: relative;
  line-height: 16px;
  font-weight: 500;
  font-size: 0.729167vw;
  white-space: nowrap;
}

.frameParent9 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-5xl);
}

.realtimeDashboardWrapper {
  align-self: stretch;
  width: 17.96875vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.frameChild12 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
