@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
.getInTouch {
  margin: 0;
  line-height: normal;
}
.getInTouch {
  /* fonts */
  --body-b3: Montserrat;

  /* font sizes */
  --font-size-xs: 12px;
  --body-b3-size: 14px;
  --title-h4-size: 28px;

  /* Colors */
  --grayscale-888: #888;
  --grayscale-222: #222;
  --grayscale-fff: #fff;
  --grayscale-aaa: #aaa;
  --grayscale-ccc: #ccc;
  --color-tomato: #ff4c41;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-9xs: 4px;

  /* Paddings */
  --padding-41xl: 60px;
  --padding-4xs: 9px;
  --padding-xl: 20px;

  /* border radiuses */
  --br-3xs: 10px;
}

.getInTouchBP {
  width: 100%;
  height: 1080px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.01);
  position: absolute;
  z-index: 9999;
}

.getInTouch1 {
  /* width: 497px; */
  flex: 1;
  position: relative;
  font-weight: 600;
}
.frameChild {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.getInTouchParent {
  /* width: 586px; */
  width: 100%;
  height: 34px;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 5px 0 0;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.span {
  color: var(--color-tomato);
}
.company,
.pleaseInputCompany {
  position: relative;
  line-height: 32px;
  font-weight: 500;
}
.company {
  align-self: stretch;
}
.pleaseInputCompany {
  flex: 1;
}
.pleaseInputCompanyNameWrapper {
  position: relative;
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: #ccc 0 solid;
  background: linear-gradient(
    100.46deg,
    rgba(255, 255, 255, 0.14) 31.25%,
    rgba(255, 255, 255, 0.1)
  );
  display: flex;
  flex-direction: row;
  padding: 16px var(--padding-xl);
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--grayscale-888);
}

.pleaseInputCompanyNameWrapper::before {
  content: "";
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-3xs);
  padding: 10px;
  background: linear-gradient(
    103.01deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.2) 98.57%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  color: var(--grayscale-888);
}

.pleaseInputCompanyNameWrapperInput {
  position: relative;
  align-self: stretch;
  border: #ccc 0 solid;
  border-radius: var(--br-3xs);
  background: linear-gradient(
      108.84deg,
      rgba(75, 31, 47, 0.5) 17.61%,
      rgba(56, 33, 66, 0.5) 65.68%,
      rgba(29, 36, 60, 0.5) 99.29%
    ),
    rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  padding: 16px var(--padding-xl);
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--grayscale-888);
}

.pleaseInputCompanyNameWrapperInput::before {
  content: "";
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  border-radius: var(--br-3xs);
  background: linear-gradient(
    95.34deg,
    #eb4e87 0%,
    #9463ff 60.42%,
    #125aed 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  color: var(--grayscale-888);
}

.pleaseProvideA {
  position: absolute;
  top: 220px;
  padding-left: 2px;
  font-size: var(--font-size-xs);
  line-height: 24px;
  font-weight: 500;
  color: var(--color-tomato);
  display: inline-block;
  /* width: 784px; */
}
.pleaseProvideB {
  position: absolute;
  bottom: 455px;
  padding-left: 2px;
  font-size: var(--font-size-xs);
  line-height: 24px;
  font-weight: 500;
  color: var(--color-tomato);
  display: inline-block;
}
.companyParent {
  width: 281px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.name {
  font-weight: 500;
}
.company1 {
  align-self: stretch;
  position: relative;
  line-height: 32px;
}
.instanceParent {
  padding-bottom: 30px;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.company2 {
  position: relative;
  line-height: 32px;
  display: inline-block;
  width: 824px;
}
.companyContainer {
  width: 586px;
  padding-bottom: 30px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.companyContainer1 {
  width: 586px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.company3 {
  position: relative;
  line-height: 32px;
  font-weight: 500;
  display: inline-block;
  width: 824px;
}
.pleaseWriteYour {
  margin: 0;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  font-size: var(--body-b3-size);
  color: var(--grayscale-ccc);
}
.instanceChild {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  border-radius: 3px;
  background: linear-gradient(
    100.46deg,
    rgba(255, 255, 255, 0.14) 31.25%,
    rgba(255, 255, 255, 0.1)
  );
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  width: 16px;
  height: 16px;
}
.rectangleWrapper {
  position: relative;
  width: 20px;
  height: 20px;
}
.instanceGroup {
  width: 586px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.getStarted {
  position: relative;
  line-height: 32px;
  font-weight: 500;
}
/* .getSendWrapper {
    border-radius: var(--br-3xs);
    background-color: var(--grayscale-222);
    width: 586px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 16px var(--padding-41xl);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: center;
    font-size: 16px;
    color: var(--grayscale-fff);
  } */

.getSendWrapper {
  position: relative;
  border-radius: var(--br-3xs);
  /* border: red 1px solid; */
  background-color: var(--grayscale-222);
  width: 586px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 16px var(--padding-41xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  font-size: 16px;
  color: var(--grayscale-fff);
  z-index: 1;
}
.getSendWrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1px;
  border-radius: 10px;
  background: linear-gradient(
    95.34deg,
    #eb4e87 0%,
    #9463ff 60.42%,
    #125aed 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.getSendWrapperActive {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--grayscale-222);
  width: 586px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 16px var(--padding-41xl);
  border-radius: 10px;
  background: linear-gradient(
    95.34deg,
    #eb4e87 0%,
    #9463ff 60.42%,
    #125aed 100%
  );
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  font-size: 16px;
  color: var(--grayscale-fff);
  z-index: 1;
}

.frameContainer {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--font-size-xs);
  color: var(--grayscale-aaa);
}
.frameContainer,
.frameParent,
.getInTouch {
  display: flex;
  flex-direction: column;
}
.frameParent {
  position: absolute;
  height: 828px;
  border-radius: 20px;
  align-self: center;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(10px);
  box-shadow: -21px 18px 41px rgba(0, 0, 0, 0.28);
  overflow: hidden;
  padding: 0 var(--padding-41xl);
  align-items: flex-end;
  justify-content: center;
  gap: 40px;
  z-index: 0;
}

.frameParent::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1px;
  border-radius: 20px;
  background: linear-gradient(
    169.67deg,
    rgba(255, 255, 255, 0.2) 0.34%,
    rgba(22, 91, 231, 0.2) 101.92%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.getInTouch {
  position: absolute;
  width: 100%;
  /* width: 706px; */
  height: 828px;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--title-h4-size);
  color: var(--grayscale-fff);
  font-family: var(--body-b3);
  z-index: 99999;
}
